<h2 translate>Frequently Asked Questions</h2>

<ul class="faq">
    <li>
        <h4 translate>How can I help?</h4>
        <p translate>
            We are primarily supported by the advertisements on the website, so if you use ad-blocking software, the best
            way to help is to consider disabling it for Guardian.gg. We are regularly required to scale our infrastructure
            to service an incredible amount of Destiny data, and it's not cheap. Don't sweat it if you <em>really</em> hate
            ads though, we don't blame you!
        </p>

        <p translate>
            If you find Guardian.gg helpful and want to directly support us, we accept tips via PayPal. We appreciate
            any amount - by easing the cost of running the site we're able to focus more energy on making this the
            best Destiny stat website.
        </p>

        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="CS9USRERBB8YE">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
        <br />

        <p translate>More technical users are invited to contribute on our
            <a href="https://github.com/guardiangg/http-client">GitHub repository</a>, we're open source!
        </p>
    </li>
    <li>
        <h4 translate>How accurate is this data?</h4>
        <p translate>
            Since the launch of the Taken King, we have aggregated data from every single match played. Our rankings
            are updated in real-time and immediately available. If you have played Destiny recently, particularly in the
            Crucible, you have a profile here - check it out!
        </p>
    </li>
    <li>
        <h4 translate>What is "Elo" and what does it mean?</h4>
        <p>
            <translate translate-comment="Used in the line: From Wikipedia:">From</translate>
            <a href="https://en.wikipedia.org/wiki/Elo_rating_system">Wikipedia</a>:
        </p>
        <blockquote translate>
            The Elo rating system is a method for calculating the relative skill levels of players in
            competitor-versus-competitor games.
        </blockquote>
        <p translate>
            All players start at a baseline of 1200 points. You will take points from your opponent's Elo score by
            defeating them, and vice versa. Defeating a more skilled opponent will yield higher points than if you beat up
            on a weaker one. The higher the score, the more skilled the player. It is extremely difficult
            to maintain a high Elo score, these players are regarded as the best of the best!
        </p>

        <p translate>
            As your score rises and falls, you'll be categorized into leagues.
        </p>

        <ul>
            <li><translate>Bronze</translate>: 0-1099</li>
            <li><translate>Silver</translate>: 1100-1299</li>
            <li><translate>Gold</translate>: 1300-1499</li>
            <li><translate>Platinum</translate>: 1500-1699</li>
            <li><translate>Diamond</translate>: 1700+</li>
        </ul>

        <p translate>
            Each mode you play has its own Elo rating and league categorization. Beyond that, Elo is account-wide, so in
            Control you'll have the same rating whether you're on your Titan, Warlock or Hunter.
        </p>
    </li>
    <li>
        <h4 translate>Why are the Strike "Ratings" different from the score I see in-game?</h4>
        <p translate>
            We calculate your rating from the amount of time it took to clear the instance, and your team's combined
            medal score. We didn't find that the medal score alone is very good representation of skill because players can
            sit in a strike for hours farming hundreds of thousands of points by resetting boss fights.
        </p>
    </li>
    <li>
        <h4 translate>What do I get for competing on the Strike leaderboards?</h4>
        <p translate>
            The top 50 players for all of the available Normal, Heroic and Nightfall strikes each week will be awarded
            a permanent badge on their profile. Badges are given out every Tuesday at around 9am UTC during reset.
            Wear it with pride, you beat out tens (sometimes hundreds) of thousands of gamers for those bragging rights.
            You can earn badges for the same strike in multiple weeks.
        </p>

        <div class="trophy-collection" style="max-width: 700px;">
            <div class="ggg-trophy first">
                <span>
                    <span>
                        <span>1</span>
                    </span>
                </span>
                <span>Strike Name</span>
                <span>Date</span>
            </div>
            <div class="ggg-trophy top25">
                <span>
                    <span>
                        <span>
                            <i translate>Top</i>
                            <b>10</b>
                        </span>
                    </span>
                </span>
                <span>Strike Name</span>
                <span>Date</span>
            </div>
            <div class="ggg-trophy top10">
                <span>
                    <span>
                        <span>
                            <i translate>Top</i>
                            <b>25</b>
                        </span>
                    </span>
                </span>
                <span>Strike Name</span>
                <span>Date</span>
            </div>
            <div class="ggg-trophy top50">
                <span>
                    <span>
                        <span>
                            <i translate>Top</i>
                            <b>50</b>
                        </span>
                    </span>
                </span>
                <span>Strike Name</span>
                <span>Date</span>
            </div>
        </div>
    </li>
    <li>
        <h4 translate>How can I increase my Strike Rating?</h4>
        <p translate>
            Try and complete the strike as fast as possible, while being very efficient with how you're earning medals.
            It's up to the players to figure out the best way to achieve this, it's a very simple formula - do it fast,
            get a high medal score, and you're getting a great rating.
        </p>
    </li>
    <li>
        <h4 translate>How do I get in touch if I have a question/suggestion?</h4>
        <p>
            <translate>You can fire us an email at</translate> <a href="mailto:support@guardian.gg">support@guardian.gg</a>. 
            If you have a question regarding your account please be sure to <strong>include your gamer tag</strong> and platform you are playing on. 
            We are unable to diagnose issues if you do not include this information!
        </p>
    </li>
</ul>
