<div class="ad-leaderboard dark">
    <advert sizes="728x90"></advert>
</div>

<div class="rating-info" ng-if="!loading.strikes && strikes.bests && strikes.bests.length > 0">
    <i class="fa fa-info-circle"></i>
    <span translate>
        The <strong>Strike Rating</strong> is our new competitive measure of your fireteam's performance in strikes since
        "The Dawning" patch on December 13th, 2016. It is based on your team's score and how quickly you completed
        the strike. Earn more points in less time to climb the weekly leaderboards.
    </span>
</div>

<h2>
    <span translate>All-Time Record Book</span>
</h2>

<div class="loading" ng-show="loading.strikes">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Records...</translate>
</div>

<div class="record-info" ng-if="!loading.strikes && strikes.showcase && strikes.showcase.length > 0">
    <h3 translate>Platform Bests</h3>
    <span>{{ name }}</span> <span translate>finished in the top 50 out of the entire Destiny player base for 1 or more activities in a week.</span>
</div>

<div class="trophy-collection" ng-if="!loading.strikes && strikes.showcase && strikes.showcase.length > 0">
    <div class="ggg-trophy" ng-repeat="best in strikes.showcase" ng-class="{'first': best.rank === 1, 'top10': best.rank > 1 && best.rank <= 10, 'top25': best.rank > 10 && best.rank <= 25, 'top50': best.rank > 25 && best.rank <= 50}">
        <span>
            <span>
                <span ng-if="best.rank === 1">{{ best.rank }}</span>
                <span ng-if="best.rank > 1 && best.rank <= 10">
                    <i translate>Top</i>
                    <b>10</b>
                </span>
                <span ng-if="best.rank > 10 && best.rank <= 25">
                    <i translate>Top</i>
                    <b>25</b>
                </span>
                <span ng-if="best.rank > 20 && best.rank <= 50">
                    <i translate>Top</i>
                    <b>50</b>
                </span>
            </span>
        </span>
        <span>{{ best.activityName }}</span>
        <span>{{ modes[best.mode] }}</span>
        <span>{{ best.date }}</span>
    </div>
</div>

<div class="record-info" ng-if="!loading.strikes && strikes.bests && strikes.bests.length > 0">
    <h3 translate>Bests per Activity</h3>
</div>

<div class="best-scores">
    <div class="no-record" ng-if="!loading.strikes && (!strikes.bests || strikes.bests.length === 0)">
        {{name}} <span translate>has not completed a qualifying activity from "The Dawning" patch yet.</span>
    </div>

    <div class="table-responsive" ng-if="!loading.strikes && strikes.bests && strikes.bests.length > 0">
        <table class="table table-striped history noselect">
            <tr>
                <th style="width:15%">Played</th>
                <th style="width:31%" translate>Activity</th>
                <th style="width:15%" class="hidden-xs text-center" translate>Mode</th>
                <th style="width:8%" class="text-center" translate>Rating</th>
                <th style="width:8%" class="text-center" translate>Ranking</th>
                <th style="width:1%" class="text-center"></th>
            </tr>
            <tr ng-repeat="activity in strikes.bests track by $index">
                <td class="clickable">{{ activity.date }}</td>
                <td class="clickable">
                    <i class="ggg {{modeIcons[activity.mode]}}"></i> {{ activity.activityName }}
                </td>
                <td class="text-center clickable hidden-xs">{{ modes[activity.mode] }}</td>
                <td class="text-center clickable" ng-class="{'best': activity.isBestScore, 'not-best': !activity.isBestScore}">{{ activity.score|number }}</td>
                <td class="text-center clickable" ng-class="{'best': activity.isBestRank, 'not-best': !activity.isBestRank}">{{ activity.rank|number }}</td>
                <td class="text-center external clickable">
                    <i class="fa fa-plus-square-o" pgcr instance-id="activity.instanceId" character-id="character.characterBase.characterId" prefix="pgcr-best"></i>
                </td>
            </tr>
        </table>
    </div>
</div>

<h2 ng-if="!loading.strikes && strikes.bests && strikes.bests.length > 0">
    <span translate>Current Week</span>
</h2>

<div class="best-scores" ng-if="!loading.strikes && strikes.bests && strikes.bests.length > 0">
    <div class="no-record" ng-if="!loading.strikes && (!strikes.weeklyScores || strikes.weeklyScores.length === 0)">
        {{name}} <span translate>has not played a qualifying activity this week yet.</span>
    </div>

    <div class="table-responsive" ng-if="!loading.strikes && strikes.weeklyScores && strikes.weeklyScores.length > 0">
        <table class="table table-striped history noselect">
            <tr>
                <th style="width:15%">Played</th>
                <th style="width:31%" translate>Activity</th>
                <th style="width:15%" class="hidden-xs text-center" translate>Mode</th>
                <th style="width:8%" class="text-center" translate>Rating</th>
                <th style="width:8%" class="text-center" translate>Ranking</th>
                <th style="width:1%" class="text-center"></th>
            </tr>
            <tr ng-repeat="activity in strikes.weeklyScores track by activity.instanceId">
                <td class="clickable">{{ activity.date }}</td>
                <td class="clickable">
                    <i class="ggg {{modeIcons[activity.mode]}}"></i> {{ activity.activityName }}
                </td>
                <td class="text-center clickable hidden-xs">{{ modes[activity.mode] }}</td>
                <td class="text-center clickable">{{ activity.score|number }}</td>
                <td class="text-center clickable">{{ activity.rank|number }}</td>
                <td class="text-center external clickable">
                    <i class="fa fa-plus-square-o" pgcr instance-id="activity.instanceId" character-id="character.characterBase.characterId" prefix="pgcr-week"></i>
                </td>
            </tr>
            <tr ng-if="activities.length == 0">
                <td colspan="9" class="no-data" translate>{{name}} hasn't played any games on this character in this mode.</td>
            </tr>
        </table>
    </div>
</div>

<h2>
    <div class="history-filters pull-right">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="modeSelector" data-toggle="dropdown" aria-haspopup="true">
                <i class="fa fa-filter"></i> <strong translate>Type:</strong> {{modes[mode] || 'All'|translate}}
            </button>
            <ul class="dropdown-menu dropdown-menu-right" area-labelledby="modeSelector">
                <li><a href="javascript:;" ng-click="setMode(7)"><translate>All</translate></a></li>
                <li role="seperator" class="divider"></li>
                <li><a href="javascript:;" ng-click="setMode(3)"><i class="ggg ggg-strike"></i> <translate>Normal Strike</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(17)"><i class="ggg ggg-strike-heroic"></i> <translate>Heroic Strike</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(16)"><i class="ggg ggg-nightfall"></i> <translate>Nightfall Strike</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(4)"><i class="ggg ggg-raid"></i> <translate>Raid</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(20)"><i class="ggg ggg-prison"></i> <translate>Prison of Elders</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(6)"><i class="ggg ggg-patrol"></i> <translate>Patrol</translate></a></li>
                <li><a href="javascript:;" ng-click="setMode(2)"><i class="ggg ggg-story"></i> <translate>Story</translate></a></li>
            </ul>
        </div>
    </div>
    <span translate>Activity History</span>
</h2>

<div class="empty" ng-show="maintenance.activityHistory">
    <i class="fa fa-warning"></i> <translate>The match history is unavailable due to an API error</translate>
</div>

<div class="loading" ng-show="loading.activityHistory && !legacy">
    <i class="fa fa-cog fa-spin"></i> <translate>Loading Game History...</translate>
</div>

<div infinite-scroll="loadMoreHistory" class="table-responsive" ng-if="!legacy">
    <table class="table table-striped history noselect" ng-if="activities && !loading.activityHistory">
        <tr>
            <th style="width:15%">Played</th>
            <th style="width:20%" class="hidden-xs" translate>Map</th>
            <th style="width:8%" class="text-center" translate>Time</th>
            <th style="width:5%" class="text-center" translate>K</th>
            <th style="width:5%" class="text-center" translate>D</th>
            <th style="width:5%" class="text-center hidden-xs" translate>A</th>
            <th style="width:5%" class="text-center" translate>K/D</th>
            <th style="width:5%" class="text-center" translate>Cleared</th>
            <th style="width:1%" class="text-center"></th>
        </tr>
        <tr ng-repeat="activity in activities track by activity.activityDetails.instanceId">
            <td class="clickable">{{ activity.period|ago }}</td>
            <td class="clickable hidden-xs">
                <i class="ggg {{modeIcons[activity.activityDetails.mode]}}"></i> {{ activity.definition.activityName }}
            </td>
            <td class="text-center clickable">{{ activity.values.activityDurationSeconds.basic.displayValue || '--' }}</td>
            <td class="text-center clickable">{{ activity.values.kills.basic.displayValue }}</td>
            <td class="text-center clickable">{{ activity.values.deaths.basic.displayValue }}</td>
            <td class="text-center clickable hidden-xs">{{ activity.values.assists.basic.displayValue }}</td>
            <td class="text-center clickable">
                {{ activity.values.killsDeathsRatio.basic.displayValue }}
            </td>
            <td class="text-center clickable" ng-class="activity.values.completed.basic.value == 1 ? 'kd positive' : 'kd negative'" ng-if="activity.activityDetails.mode != 6">
                {{ activity.values.completed.basic.displayValue }}
            </td>
            <td class="text-center clickable kd neutral" ng-if="activity.activityDetails.mode == 6">
                --
            </td>
            <td class="text-center external clickable">
                <i class="fa fa-plus-square-o" pgcr instance-id="activity.activityDetails.instanceId" character-id="character.characterBase.characterId"></i>
            </td>
        </tr>
        <tr ng-if="activities.length == 0">
            <td colspan="9" class="no-data" translate>{{name}} hasn't played any games on this character in this mode.</td>
        </tr>
    </table>
</div>
